*{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body{
    background-image: url(../img/abstract-envelope.png);
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.container{
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chart{
    padding: 2rem;
    border: 1px solid #f49131;
    border-radius: 1rem;
    background: #251c35;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.8);
}