.vh-100 {
	min-height: 100vh;
}
.w-400 {
	width: 50%;
}
.fs-xs {
	font-size: 1rem;
}
.w-10 {
	width: 10%;
}
a {
	text-decoration: none;
}
.fs-big {
	font-size: 5rem !important;
}
.online {
	width: 10px;
	height: 10px;
	background: green;
	border-radius: 50%;
}
.w-15 {
	width: 15%;
}
.fs-sm {
	font-size: 1.4rem;
}
small {
	color: #bbb;
	font-size: 0.7rem;
	text-align: right;
}
.chat-box {
	overflow-y: auto;
	overflow-x: hidden;
	max-height: 50vh;
	background-image: url(../img/download.jpg);
}
.rtext {
    width: auto;
    background: #075E54;
    color: white;
    max-width: 50%;
}

.ltext {
	width: auto;
    background: #3289c8;
    color: #fff;
    max-width: 50%;
}
/* width */
*::-webkit-scrollbar {
  width: 3px;
}

/* Track */
*::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
*::-webkit-scrollbar-thumb {
  background: #aaa;
}

/* Handle on hover */
*::-webkit-scrollbar-thumb:hover {
  background: #3289c8;
}

textarea {
	resize: none;
}

/*message_status*/

.dropdown-item {
    display: block;
    width: 100%;
    padding: .25rem 1rem;
    clear: both;
    font-weight: 400;
    color: white;
    text-align: inherit;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}
li{
	color: white;
}
a{
	color: #34B7F1;
}
h3{
	color: white;
}
#frstdiv{
	/* background-image: url(../img/download.jpg); */
	box-shadow: rgba(255, 255, 255, 0.123) 10px 20px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
#bigdiv{
background-image: url(../img/download.jpg);
/* height: 100%;
width: 100%; */
}
.link-dark {
    color: white;
}
#icon {
    margin-left: -13%;
    position: absolute;
    margin-top: 20px;
    /* height: 15px; */
}
.file{
	display: none;
    visibility: hidden;
}
