* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;


}
:root{
    --first-color:#fda521;
    --sec-color: #033043;
    
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 500px;
    /* background-color: white; */
    background-image: url(../img/abstract-envelope.png);
    background-repeat: no-repeat;
    background-size: cover;


}

.info,
.success,
.warning,
.error,
.validation {
    border: 1px solid;
    margin: 10px -20px;
    padding: 15px 10px 15px 5px;
    background-repeat: no-repeat;
    background-position: 0px center;

}

/* old warning */
/*.warning {*/
/*    color: #D8000C;*/
/*    background-color: #FFBABA;*/
/*    width: 50%;*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*    !* margin-left: 100px; *!*/
/*    position: relative;*/
/*    left: 30%;*/

/*}*/

.warning {
    color:white !important;
    background-color: #ff00009e;
    border-radius: 20px;
    width: 65%;
    /* margin-left: 100px; */
    border: solid 2px #ff000048;
    margin: 0 auto;
}
.warning.visible {
    display: block;
    text-align: center;
}


.wrapper {
position: relative;
    width: 400PX;
    height: auto;
    border: #fff solid 2px;
    border-radius: 20PX;
    margin: 50PX;
    text-align: center;
    background-color: white;
    padding: 40px;
    opacity: initial;
    opacity: 70%;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.form-wrapper {

    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    transition: 1s ease-in-out;
}

h2 {
    font-size: 40px;
    color: var(--first-color);
    font-weight: bold;
    text-align: center;
}

.input-group {
    position: relative;
    margin: 30px 0;
    border-bottom: 2px solid black;


}

.input-group label {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    font-size: 18px;
    color: var(--sec-color);
    pointer-events: none;
    transition: .5s;
}



.input-group input {
    width: 320px;
    height: 40px;
    font-size: 16px;
    color: black;
    padding: 0 5px;
    background: transparent;
    border: none;
    outline: none;

}

.input-group input:focus~label,
.input-group input:valid~label {
    top: -5px;
}





.remember {
    margin: -5px 0 15px 5px;

}

.remember label {
    color: green;
    font-size: 20px;
    font-weight: bold
}


.remember label input {
    accent-color: green;
    font-size: 15px;

}

button {
    position: relative;
    width: 100%;
    height: 40px;
    background: transparent;
    box-shadow: 0 0 5px black;
    font-size: 20px;
    color: var(--first-color);
    font-weight: bold;
    cursor: pointer;
    border-radius: 30PX;
    border: none;
    outline: none;
    transition: all 0.5s;
    margin-top: 7%;
}
button:hover{
    color: var(--sec-color);
    background-color: var(--first-color);
}

.signUp-link {
    font-size: 16px;
    text-align: center;
    margin: 15px 0;

}


.signUp-link p {
    color: green;
}


.signUp-link p a {
    color: black;
    text-decoration: none;
    font-weight: 500;
    text-align: center;
}

.signUp-link p a:hover {
    text-decoration: underline;
}

.close{
    color:#fda521;
    position: absolute;
    right: 5%;
    top: 5%;
    font-size: large;
}

@media(max-width:750px){
    .wrapper{
        width: 80%;
    }
    h2{
        font-size: 28px;
    }
    .input-group input {
        margin-top: 4%;
    }
    button{
        margin-top: 11%;
    }
    .fa-solid, .fas {
        font-weight: 900;
        color: var(--first-color) !important;
        transition: all 0.5s;
        font-size: 25px;
        position: absolute;
        top: 18%;
        left: 81%;
    }
}