html {
    background-color: #fefefe;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
  .u-float-right {
    float: right;
  }
  
  .u-flex-center {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
  }
  
  .u-clearfix:before,
  .u-clearfix:after {
    content: " ";
    display: table;
  }
  
  .u-clearfix:after {
    clear: both;
  }
  
  .u-clearfix {
    zoom: 1;
  }
  
  /* .container {
    box-shadow: 0 0 50px rgba(0, 0, 0, .3);
    margin: 40px auto;
    overflow: hidden;
    width: 100vh;
    padding: 0;
  } */
  
  .header-container {
    position: relative;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask2242%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='url(%26quot%3b%23SvgjsLinearGradient2243%26quot%3b)'%3e%3c/rect%3e%3cpath d='M527.7-46C453.76-40.53 489.61 91.71 272.26 104.65 54.91 117.59-95.15 360.26-238.62 367.85' stroke='rgba(255%2c 255%2c 255%2c 0.42)' stroke-width='2'%3e%3c/path%3e%3cpath d='M736.88-96.89C562.11-53.15 496.41 418.85 236.33 421.56-23.76 424.27-126.09 192.12-264.23 186.36' stroke='rgba(255%2c 255%2c 255%2c 0.42)' stroke-width='2'%3e%3c/path%3e%3cpath d='M766.27-107.19C626.02-85.4 576.72 236.3 326.4 251.76 76.08 267.22 0.72 373.8-113.47 374.96' stroke='rgba(255%2c 255%2c 255%2c 0.42)' stroke-width='2'%3e%3c/path%3e%3cpath d='M830.71-94.52C684.97-85.26 596.71 180.1 319.82 188.67 42.92 197.24-58.28 332.86-191.08 334.27' stroke='rgba(255%2c 255%2c 255%2c 0.42)' stroke-width='2'%3e%3c/path%3e%3cpath d='M908.77-1.05C771.31 79.8 853.56 542.86 592.97 553.2 332.38 563.54 121.98 436.1-38.63 435.6' stroke='rgba(255%2c 255%2c 255%2c 0.42)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask2242'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='84.72%25' y1='-39.29%25' x2='15.28%25' y2='139.29%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient2243'%3e%3cstop stop-color='%230e2a47' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(10%2c 114%2c 115%2c 1)' offset='0.74'%3e%3c/stop%3e%3cstop stop-color='rgba(10%2c 114%2c 115%2c 1)' offset='0.89'%3e%3c/stop%3e%3cstop stop-color='rgba(10%2c 114%2c 115%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
  }
  
  .header-image {
    left: 0;
    position: absolute;
    top: 0;
    z-index: -1;
    height: auto;
    -webkit-animation: zoomEffect 35s infinite;
    animation: zoomEffect 35s infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  @-webkit-keyframes zoomEffect {
    0% {
      -webkit-transform: scale(1) translateX(0);
      transform: scale(1) translateX(0);
    }
  
    100% {
      -webkit-transform: scale(1.2) translateX(-360px) translateY(-80px);
      transform: scale(1.2) translateX(-360px) translateY(-80px);
    }
  }
  
  @keyframes zoomEffect {
    0% {
      -webkit-transform: scale(1) translateX(0) translateY(0);
      transform: scale(1) translateX(0) translateY(0);
    }
  
    100% {
      -webkit-transform: scale(1.2) translateX(-360px) translateY(-80px);
      transform: scale(1.2) translateX(-360px) translateY(-80px);
    }
  }
  
  .header {
    color: #fff;
    padding: 15px;
    height: 50vh;
  }
  
  .header>svg {
    cursor: pointer;
  }
  
  .main-heading {
    color: #fff;
    font-size: 26px;
    font-weight: 300;
    margin-bottom: 12px;
  }
  
  .tag {
    background-color: rgba(255, 255, 255, .35);
    border-radius: 20px;
    font-size: 11px;
    margin-right: 8px;
    padding: 4px 10px;
    text-transform: uppercase;
  }
  
  .stats {
    margin-top: 35px;
  }
  
  .stat-module {
    display: inline-block;
    font-size: large;
    margin-right: 20px;
    text-transform: uppercase;
  }
  
  .stat-number {
    display: inline-block;
    font-weight: 600;
    margin-left: 4px;
  }
  
  .overlay-header {
    background-color: #eee;
    height: 200px;
    margin: -50px 0 0 -25%;
    transform: rotate(-10deg);
    width: 150%;
    z-index: 0;
  }
  
  .body {
    background-color: #eee;
    color: #555;
    margin-top: -100px;
    padding: 0 15px 15px;
    position: relative;
    background-size: cover;
  }
  body{
    height: 100vh;
  }
  
  .body-image {
    border-radius: 100%;
    box-shadow: 5px 10px 75px rgba(0, 0, 0, .4);
    float: left;
    margin: -150px 0 50px 50px;
    position: relative;
    z-index: 2;
    height: 20vh;
    width: 20vh;
  }
  
  .body-action-button {
    /* background-color: #383838; */
    border-radius: 50%;
    box-shadow: 1px 2px 12px rgba(0, 0, 0, .4);
    cursor: pointer;
    height: 10px;
    position: absolute;
    right: 15px;
    top: -97px;
    width: 40px;
  }
  
  .body-stats {
    display: inline-block;
    font-size: x-large;
    /* font-weight: 700; */
    float: left;
    margin: -20px 0 0 59px;
    position: relative;
    text-transform: uppercase;
    /* width: 20%; */
  }
  
  .body-stats>span {
    display: inline-block;
    font-weight: 900;
    margin-top: 8px;
  }
  
  .body-info {
    display: flex;
    justify-content: center;
    clear: left;
    position: relative;
    max-height: 100px;
    overflow: hidden;
    transition: all 600ms ease-out;
    display: flex;
    gap: 15px;
  }
  
  .body-more {
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(238, 238, 238, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(238, 238, 238, 1) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(238, 238, 238, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#eeeeee', GradientType=0);
    cursor: pointer;
    margin: -57px auto 0px;
    padding: 20px 0 20px;
    position: relative;
    text-align: center;
  }
  
  .body-more span {
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .3);
    display: inline-block;
    height: 6px;
    margin-right: 2px;
    width: 6px;
  }
  
  .card {
    background: #fff;
    border-radius: 2px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .15);
    margin-top: 15px;
    padding: 10px;
  }
  
  /* .card-heading {
    font-size: 12px;
    text-transform: uppercase;
  }
  
  .card-more {
    cursor: pointer;
    float: right;
  }
  
  .card-list {
    list-style-type: none;
    margin: 10px 0 0;
    overflow-x: scroll;
    padding: 0;
    white-space: nowrap;
  } */
  
  .card-list::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
    border-radius: 2px;
    background-color: #F5F5F5;
  }
  
  .card-list::-webkit-scrollbar {
    height: 3px;
    background-color: #F5F5F5;
  }
  
  .card-list::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .2);
    background-color: #ddd;
  }
  
  .card-list li {
    display: inline;
    margin-left: 10px;
  }
  
  .card-list li:first-child {
    margin-left: 0;
  }
  
  svg {
    color: #F5F5F5;
    margin-top: -48px;
    margin-right: 10px;
  }
  
  
  
  
  button:hover {
    color: #033043;
    background-color: #fda521;
    border: none;
  }
  
  .scndbtn {
    width: 100%;
  }
  
  
  
  
  
  /* From Uiverse.io by cssbuttons-io */
  .c-button {
    color: #000;
    /* font-weight: 700; */
    /* font-size: 16px; */
    text-decoration: none;
    padding: 0.9em 1.6em;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    z-index: 1;
  }
  
  .c-button--gooey {
    color: #033043;
    text-transform: uppercase;
    letter-spacing: 2px;
    border: 2px solid #033043;
    border-radius: 13px;
    position: relative;
    transition: all 700ms ease;
  }
  
  .c-button--gooey .c-button__blobs {
    height: 100%;
    filter: url(#goo);
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    bottom: -3px;
    right: -1px;
    z-index: -1;
    border-radius: 14px;
  }
  
  .c-button--gooey .c-button__blobs div {
    background-color: #033043;
    width: 34%;
    height: 100%;
    border-radius: 100%;
    position: absolute;
    transform: scale(1.4) translateY(125%) translateZ(0);
    transition: all 700ms ease;
  }
  
  .c-button--gooey .c-button__blobs div:nth-child(1) {
    left: -5%;
  }
  
  .c-button--gooey .c-button__blobs div:nth-child(2) {
    left: 30%;
    transition-delay: 60ms;
  }
  
  .c-button--gooey .c-button__blobs div:nth-child(3) {
    left: 66%;
    transition-delay: 25ms;
  }
  
  .c-button--gooey:hover {
    color: #fff;
    border: none;
  }
  
  .c-button--gooey:hover .c-button__blobs div {
    transform: scale(1.4) translateY(0) translateZ(0);
    border: none;
  }
  
  .iconsvg {
    height: 40px;
    width: 40px;
  
  }
  .txt {
    /* background-color: red; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
  }
  @media(max-width:750px){
    .container{
      width: 95%;
    }
    .body-info {
      /* width: 50%; */
      display: flex;
      gap: 1% !important;
  }
  .c-button {
    color: #000;
    /* font-weight: 700; */
    font-size: 9px !important;
    text-decoration: none;
    padding: 8px 11px !important;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    z-index: 1;
  }
  .c-button--gooey {
    color: #033043;
    text-transform: uppercase;
    letter-spacing: 0;
    border: 2px solid #033043;
    border-radius: 13px;
    position: relative;
    transition: all 700ms ease;
  }
  .body-stats {
    display: inline-block;
    font-size: 9px;
    font-weight: 700;
    float: left;
    margin: -40px -8px 0px 31px;
    position: relative;
    text-transform: uppercase;
    /* width: 15%; */
  }
  body{
    height: 100vh;
  }
  }